.main {
  width: 300px;
  margin: 150px auto;
  text-align: center;
}

.titles, button {
  text-transform: uppercase;
}

.titles h2 {
  margin: -20px;
}

.titles p {
  font-size: 1rem;
}

.input-div {
  margin: 50px;
  text-align: center;
}

label {
  font-size: 0.5rem;
}

button {
  margin: 20px;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
}


