<div class="results">
  <span>Current tries: {{user.score}}</span>
<span>Best: {{best}}</span>
  <button (click)="onRestartClick()">Restart</button>
</div>

<div class="grid grid-pad">
  <a *ngFor="let card of cards" class="col-1-5" (click)="onCardClick(card)">
    <div class="module card">
      <div *ngFor="let selectedCard of selectedCards">
        <div [class.selected]="card === selectedCard" *ngIf="selectedCard" [style.background-image]="'url(' + selectedCard.imgUrl + ')'"></div>
      </div>
    </div>
  </a>
</div>
